<h1>Auto Library</h1>

<div class="box" id="front_page">
<p>Hi there and welcome to the Auto Library.</p>
<p>To start please make an account so that you can begin your own personalised reading list!</p>
<p>Then when you are ready follow the steps on the list page to make your own list adding any books you would like.</p>
<p>If you'd like to add more books type in the name within the search function and it's details should automatically fill in.</p>
<p>At this stage if you wish to attach an author to your book they will have to have their information added manually however you can look through everybook that they've been added.</p>
</div>
