<h1>Homepage</h1>

<div class="box" id="front_page">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus magni laboriosam perspiciatis, dolore suscipit tempora reprehenderit eos porro, beatae aut officiis maxime pariatur minus repudiandae sed odit numquam consequuntur. Asperiores.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum sit nostrum esse explicabo illo distinctio praesentium cumque eius iure consectetur quasi, cupiditate mollitia doloremque sint a provident qui, alias ab.</p>
</div>
