<h1>Book Search</h1>
<div class="form">
  <form action="/books/search/result">
    <label>
      Book title:
      <input type="search" name="book_title" required placeholder="Jaws">
    </label>
    <button>Search</button>
  </form>
</div>
